@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l4xlpf');
  src:  url('fonts/icomoon.eot?l4xlpf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l4xlpf') format('truetype'),
    url('fonts/icomoon.woff?l4xlpf') format('woff'),
    url('fonts/icomoon.svg?l4xlpf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-no-connect:before {
  content: "\e903";
}
.icon-table2:before {
  content: "\ea71";
}
